@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Epilogue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid lightgreen; */
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    max-width: 1400px;
}

header,
#Banner{
    background-color: #010032;
}

a{
    text-decoration: none;
    transition: all .4s;
}

a:hover,
.header__cart:hover > button{
    color: aquamarine;
}

header{
    padding: 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 40px;
}

.header__cart{
    height: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.header__cart > button{
    border: none;
    background-color: inherit;
    font-size: 50px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all .4s;
}

#Banner{
    padding: 0 0 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 50px;
    column-gap: 100px;
}

h1{
    font-weight: 400;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 70px;
    height: fit-content;
}

#Banner > p{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    height: fit-content;
}

#Banner > a{
    padding: 20px 40px;
    width: fit-content;
    grid-row: 4/5;
    grid-column: 1/2;
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: fit-content;
    transition: all .4s;
}

#Banner > a:hover{
    background-color: aquamarine;
}

#Banner > .award{
    grid-row: 5/6;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 30px 0;
    align-content: center;
    align-items: center;
    column-gap: 20px;
}

#Banner > .award > img{
    grid-column: 1/2;
    grid-row: 1/3;
    height: fit-content;
}

.award > .award__name{
    grid-column: 2/3;
    grid-row: 1/2;
    height: fit-content;
}

.award > .award__description{
    grid-column: 2/3;
    grid-row: 2/3;
    height: fit-content;
    color: #ffffff81;
}

#Banner > img{
    grid-row: 1/6;
    grid-column: 2/3;
}

#About{
    padding: 150px 0 0 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

h2,
#About > .about__review > p,
.about__review > .award > span,
.achievment__description{
    color: #000;
}

h2{
    font-size: 48px;
    font-weight: 400;
}

h5{
    color: #4543E8;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.about__achievments{
    display: flex;
    gap: 50px;
}

.about__achievment{
    display: flex;
    flex-direction: column;
}

.achievment__score{
    color: #4543E8;
    font-size: 60px;
}

.award{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 30px 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.award > img{
    align-self: center;
    max-width: 64px;
    height: fit-content;
}

.award > .award__name{
    height: fit-content;
}

.award > .award__description{
    height: fit-content;
    color: #ffffff81;
}