@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Epilogue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid lightgreen; */
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    max-width: 1400px;
}

h2,h3,p,span{
    color: #000;
}

header,
#Banner,
#Services{
    background-color: #010032;
}

a{
    text-decoration: none;
    transition: all .4s;
}

a:hover,
.header__cart:hover > button{
    color: aquamarine;
}

header{
    padding: 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 40px;
}

.header__cart{
    height: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.header__cart > button{
    border: none;
    background-color: inherit;
    font-size: 50px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all .4s;
}

#Banner{
    padding: 0 0 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 50px;
    column-gap: 100px;
}

h1{
    font-weight: 400;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 70px;
    height: fit-content;
}

#Banner > p{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    height: fit-content;
    color: #fff;
}

#Banner > a,
#Services > article > a{
    padding: 20px 40px;
    width: fit-content;
    grid-row: 4/5;
    grid-column: 1/2;
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: fit-content;
    transition: all .4s;
}

#Banner > a:hover,
#Services > article > a:hover{
    scale: 1.05;
    background-color: aquamarine;
}

#Banner > .award{
    grid-row: 5/6;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 30px 0;
    align-content: center;
    align-items: center;
    column-gap: 20px;
}

#Banner > .award > img{
    grid-column: 1/2;
    grid-row: 1/3;
    height: fit-content;
}

.award > .award__name{
    grid-column: 2/3;
    grid-row: 1/2;
    height: fit-content;
    color: #fff;
}

.award > .award__description{
    grid-column: 2/3;
    grid-row: 2/3;
    height: fit-content;
    color: #ffffff81;
}

#Banner > img{
    grid-row: 1/6;
    grid-column: 2/3;
}

#About{
    padding: 150px 0 0 80px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 80px;
    column-gap: 50px;
}

#About > h5{
    grid-row: 1/2;
    grid-column: 1/2;
}

#About > h2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.about__review{
    grid-row: 2/span 2;
    grid-column: 1/2;
}

h2,
#About > .about__review > p,
.about__review > .award > span,
.achievment__description{
    color: #000;
}

h2{
    font-size: 48px;
    font-weight: 400;
}

h5{
    color: #4543E8;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.review__description{
    line-height: 28px;
    letter-spacing: 1px;
}

.about__achievments{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    gap: 150px;
}

.about__achievment{
    display: flex;
    flex-direction: column;
}

.achievment__score,
.step__number{
    color: #4543E8;
    font-size: 60px;
}

.award{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: fit-content;
    height: fit-content;
    margin: 30px 0 0 0;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
}

.award > img{
    align-self: center;
    max-width: 64px;
    height: fit-content;
}

.award > .award__name{
    height: fit-content;
}

.award > .award__description{
    height: fit-content;
    color: #ffffff81;
}

.about__companies{
    grid-row: 3/4;
    grid-column: 2/3;
}

.about__companies > img:not(:last-child){
    margin-right: 50px;
}

#Work{
    padding: 150px 0 0 80px;
    display: grid;
    grid-template-columns:repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    row-gap: 50px;
    column-gap: 100px;
    margin: 0 0 150px 0;
 }

#Work > h5{
    grid-column: 1/2;
    grid-row: 1/2;
    height: fit-content;
}

#Work > h2{
    grid-column: 1/2;
    grid-row: 2/3;
    height: fit-content;
}

#Work > div:nth-child(3){
    grid-column: 1/2;
    grid-row: 3/4;
}

#Work > div:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/4;
}

#Work > div:nth-child(5){
    margin-right: 150px;
    grid-column: 1 / span 2;
    width: fit-content;
    height: fit-content;
    justify-self: end;
}

#Work  > div:nth-child(7){
    justify-items: flex-end;
}

.project__item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .5s;
    cursor: pointer;
}

.project__item:hover{
    scale: 1.05;
}

.project__item > h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__item > p {
    line-height: 28px;
}

#Work > .work__link{
    grid-column: 2/3;
    grid-row: 6/7;
    width: 160px;
    height: 160px;
    background-color: #4543E8;
    align-content: center;
    border: 2px solid #4543E8;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 25px;
    transition: all .4s;
}

.work__link:hover{
    background-color: inherit !important;
    border: 2px solid #4543E8;
    color: #4543E8;
    scale: 1.03;
}

    #Services{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 80px 150px;
}

#Services > .services__name > h5,
#Services > .services__name > h2,
.service__name,
#Services > div > p{
    color: #fff;
}

.services__name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 420px;
}

.service__item{
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.service__name{
    font-weight: 300;
    font-size: 24px;
}

.service__description{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

#Services > div:nth-child(4){
    margin-left: 130px;
}

.service__btn{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.waves{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

#Testimonials{
    padding: 150px 80px;
    background-color: #D8D8EB;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#Testimonials > h5{
    font-weight: 400;
    /* margin-bottom: 25px; */
}

#Testimonials > h5::before,
#Testimonials > h5::after{
    margin: 0 15px;
    content: url('./img/wave.svg');
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    text-align: left;
    max-width: 576px;
    background-color: #fff;
    border-radius: 20px 20px 0 20px;
}

.review > .award > .award__name,
.review > .award > .award__description{
    color: #000 !important;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn__left,
.btn__right{
    background: none;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

.btn__left:hover,
.btn__right:hover{
    scale: 1.3;
}

.btn__left:active,
.btn__right:active{
    scale: 2;
}

#Process{
    padding: 150px 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
    column-gap: 200px;
    text-align: justify;
}

#Process > h5{
    grid-row: 1/2;
    grid-column: 1 /span 3;
    font-weight: 400;
    align-content: center;
}

#Process > h5::before{
    margin: 0 10px 0 0;
    content: url('./img/wave.svg');
}

#Process > h2{
    grid-column: 1/2;
    grid-row: 2/3;
}

#Process > p{
    grid-column: 3/4;
    grid-row: 2/3;
    line-height: 34px;
}

#Process > .step:nth-child(4){
    grid-column: 1/2;
    grid-row: 3/4;
}

#Process > .step:nth-child(5){
    grid-column: 2/3;
    grid-row: 3/4;
}

#Process > .step:nth-child(6){
    grid-column: 3/4;
    grid-row: 3/4;
}

#Process > .process__steps{
    margin-top: 50px;
    grid-row: 3/4;
    grid-column: 1/4;
}

.process__steps{
    display: flex;
    justify-content: space-between;
}

.step{
    max-width: 330px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    row-gap: 15px;
    align-items: center;    
}

.step > span{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 48px;
}

.step__number::before{
    content: '[';
}

.step__number::after{
    content: ']';
}

.step > img{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
}

.step > h3{
    font-size: 24px;
    font-weight: 400;
    grid-row: 2/3;
    grid-column: 1/2;
}

.step > p{
    line-height: 28px;
    grid-row: 3/4;
    grid-column: 1/span 2;
}

#Shop{
    padding: 150px 80px;
    text-align: center;
}

#Shop > h5{
    font-size: 20px;
    font-weight: 400;
}

#Shop > h5::before,
#Shop > h5::after{
    content: url('./img/wave.svg');
    margin: 0 15px;
    align-self: center;
    justify-self: center;
}

#Shop > h2{
    margin: 25px 0;
}

.shop-items{
    display: flex;
    justify-content: space-between;
}

.shop-item{
    gap: 10px;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: all .4s;
}

.shop-item:hover{
    scale: 1.05;
}

.shop-item > img{
    max-width: 400px;
    margin-bottom: 15px;
}

.shop-item > h3{
    font-weight: 400;
}

.shop__link{
    padding: 10px 15px;
    color: #4543E8;
    padding-bottom: 10px;
    border-bottom: 2px solid #4643e850;
}

.shop__link::after{
    content: url('./img/6.shop/arrow_btn.svg');
}

.shop__link:hover{
    color: #fff;
    background-color: #4543E8;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffffa9;
}